USE [master]
GO
/****** Object:  Database [User1]    Script Date: 14.01.2025 11:08:35 ******/
CREATE DATABASE [User1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\User1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\User1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User1]
GO
/****** Object:  Table [dbo].[TypeInsert]    Script Date: 14.01.2025 11:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeInsert](
	[Id] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeInsert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGender]    Script Date: 14.01.2025 11:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGender](
	[Id] [int] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserGender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 14.01.2025 11:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.01.2025 11:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[NumberPhone] [nvarchar](50) NOT NULL,
	[SeriaPass] [int] NOT NULL,
	[NumberPass] [int] NOT NULL,
	[BirthdayDate] [date] NOT NULL,
	[LastInsert] [nvarchar](50) NULL,
	[IdTypeInsert] [int] NULL,
	[IdGender] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TypeInsert] ([Id], [Type]) VALUES (1, N'Неуспешно')
INSERT [dbo].[TypeInsert] ([Id], [Type]) VALUES (2, N'Успешно')
GO
INSERT [dbo].[UserGender] ([Id], [Gender]) VALUES (1, N'женский')
INSERT [dbo].[UserGender] ([Id], [Gender]) VALUES (2, N'мужской')
GO
INSERT [dbo].[UserRole] ([Id], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRole] ([Id], [Role]) VALUES (2, N'Исполнитель')
INSERT [dbo].[UserRole] ([Id], [Role]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[Users] ([Id], [IdRole], [UserName], [Email], [Login], [Password], [NumberPhone], [SeriaPass], [NumberPass], [BirthdayDate], [LastInsert], [IdTypeInsert], [IdGender]) VALUES (1, 3, N'Акимов Ян Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'+7(781) - 785-58-37', 2367, 558134, CAST(N'1993-07-03' AS Date), N'1,67523E+12', 2, 2)
INSERT [dbo].[Users] ([Id], [IdRole], [UserName], [Email], [Login], [Password], [NumberPhone], [SeriaPass], [NumberPass], [BirthdayDate], [LastInsert], [IdTypeInsert], [IdGender]) VALUES (2, 2, N'Гончарова Ульяна Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'+7(230) - 906-88-15', 7101, 669343, CAST(N'1975-06-22' AS Date), N'1,6763E+12', 2, 1)
INSERT [dbo].[Users] ([Id], [IdRole], [UserName], [Email], [Login], [Password], [NumberPhone], [SeriaPass], [NumberPass], [BirthdayDate], [LastInsert], [IdTypeInsert], [IdGender]) VALUES (3, 1, N'Анохина Елизавета Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'+7(555) - 444-83-16', 3455, 719630, CAST(N'1991-08-16' AS Date), N'1,67605E+12', 2, 1)
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_TypeInsert] FOREIGN KEY([IdTypeInsert])
REFERENCES [dbo].[TypeInsert] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_TypeInsert]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserGender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[UserGender] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserGender]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRole]
GO
USE [master]
GO
